{% extends 'base.html.twig' %}

{% block title %}
    New User|{{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Nuevo Usuario</h1>
        <a href="{{ path('usuario_index') }}" class="btn btn-primary">
            <i class="bi bi-arrow-return-left"></i>
            Volver
        </a>
        <form action="">
            {{ include('usuario/_form.html.twig') }}
        </form>
    </div>

{% endblock %}