{% extends 'base.html.twig' %}

{% block title %}New Reporte{% endblock %}

{% block body %}
    <h1>Create new Reporte</h1>

    {{ include('reporte/_form.html.twig') }}

    <a href="{{ path('reporte_index') }}">back to list</a>
{% endblock %}
