<form method="post" action="{{ path('departamento_delete', {'id': departamento.id}) }}"
      onsubmit="return confirm('¿Esta segur@ de eliminar este Departamento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ departamento.id) }}">
    <button class="btn btn-danger">
        <i class="bi bi-trash-fill"></i>
        Eliminar
    </button>
</form>
