{% extends 'base.html.twig' %}

{% block title %}
    Edit Dptop|{{ parent() }}
{% endblock %}

{% block body %}
    <h1>Editar Datos del DPTO</h1>

    {{ include('departamento/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('departamento_index') }}">Volver</a>

    {{ include('departamento/_delete_form.html.twig') }}
{% endblock %}
