{% extends 'base.html.twig' %}

{% block title %}
    New Dpto|{{ parent() }}
{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <h1>Nuevo Departamento</h1>

                {{ include('departamento/_form.html.twig') }}

                <a href="{{ path('departamento_index') }}" class="btn btn-primary">
                    <i class="bi bi-arrow-return-left"></i>
                    Volver
                </a>
            </div>
        </div>
    </div>
{% endblock %}